@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>Postit!</title>
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/metisMenu.min.css" rel="stylesheet">
		<link href="/css/sb-admin-2.min.css" rel="stylesheet">
		<link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css">
		<style>
			blockquote {
				border-left: 5px solid #337ab7;
			}
			textarea {
				resize: vertical;
			}
		</style>
	</head>
	<body>
		<div id="wrapper">
			<!-- Navigation -->
			<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">Postit!</a>
				</div>
				<!-- Top Menu Items -->
				<ul class="nav navbar-top-links navbar-right">
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">
							<i class="fa fa-user"></i> @User.Identity.Name <b class="caret"></b>
						</a>
						<ul class="dropdown-menu dropdown-user">
							@*<li><a href="/profile"><i class="fa fa-fw fa-user"></i> Profile</a></li>
							<li><a href="/settings"><i class="fa fa-fw fa-gear"></i> Settings</a></li>
							<li class="divider"></li>*@
							@if(await AuthorizationService.AuthorizeAsync(User, "AdministratorOnly")) {
							<li><a href="@Url.Action("index", "account")"><i class="fa fa-fw fa-gear"></i> Settings</a></li>
							<li class="divider"></li>
							}
							<li><a href="/logout"><i class="fa fa-fw fa-power-off"></i> Logout</a></li>
						</ul>
					</li>
				</ul>
				
				<div class="navbar-default sidebar" role="navigation">
					<div class="sidebar-nav navbar-collapse">
						<ul class="nav" id="side-menu">
							<li class="sidebar-search">
								<form role="form" action="@Url.Action("search", "home")" method="get" id="search-form" >
									<div class="input-group custom-search-form">
										<input type="text" name="q" class="form-control" placeholder="Search...">
										<span class="input-group-btn">
											<button class="btn btn-default" type="submit">
												<i class="fa fa-search"></i>
											</button>
										</span>
									</div>
								</form>
							</li>
							<li><a href="/"><i class="fa fa-fw fa-home"></i> Notes</a></li>
							<li>
								<a href="#"><i class="fa fa-fw fa-book"></i> Notebooks<span class="fa arrow"></span></a>
								<ul class="nav nav-second-level">
									@await Component.InvokeAsync("Notebooks")
									@*<li><a href="index.html">Server</a></li>
									<li><a href="index.html">Backup</a></li>
									<li><a href="index.html">Sonstiges</a></li>*@
								</ul>
							</li>
							<li><a href="/tags"><i class="fa fa-fw fa-tags"></i> Tags</a></li>
							<li><a href="/trash"><i class="fa fa-fw fa-trash-o"></i> Trash</a></li>
							<li><a href="/create"><i class="fa fa-fw fa-file"></i> Create</a></li>
						</ul>
					</div>
				</div>
			</nav>

			<div id="page-wrapper">
				<div class="container-fluid">
					@RenderBody()
				</div>
			</div>
		</div>

		<script src="/js/jquery.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/metisMenu.min.js"></script>
		<script src="/js/sb-admin-2.js"></script>

		@RenderSection("script", required: false)
	</body>
</html>
