@model notes.Models.UserEditContainer
@using MongoDB.Bson;
@using notes.Helper;

@{
	ViewBag.Title = $"{(Model.User.Id != ObjectId.Empty ? Model.User.Username : "New user")} - ";
}

<div class="row">
	<div class="col-lg-12">
		<div class="page-header">
			<div class="btn-toolbar pull-right">
				@if(Model.User.Id != ObjectId.Empty) {
				<div class="btn-group">
					<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delAccount"><i class="fa fa-user"></i> Delete</button>
				</div>
				}
			</div>
			<h1><i class="fa fa-user"></i> 
			@if(Model.User.Id != ObjectId.Empty) {
			@:Edit user
			} else {
			@:Create user
			}
			</h1>
		</div>
		<ol class="breadcrumb">
			<li><i class="fa fa-home"></i> <a href="@Url.Action("index", "home")">Home</a></li>
			<li>Admin</li>
			<li><i class="fa fa-users"></i> <a href="@Url.Action("index", "account", new { area = "admin" })">Accounts</a></li>
			<li><i class="fa fa-pencil"></i> Edit</li>
		</ol>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
        <div class="row">
			<div class="col-lg-4">

				@if(Html.HasError("exception")) {
					<div class="alert alert-danger">
						@Html.ErrorMessage("exception")
					</div>
				}

				<form role="form" action="@Url.Action("edit", "account", new { area = "admin" })" method="post" enctype="multipart/form-data" id="account-form" >
					<div class="form-group">
						<label>Username</label>
						<input type="email" class="form-control" placeholder="E-mail" name="username" value="@Model.User.Username" />
					</div>
					<div class="form-group">
						<label>Password</label>
						<input type="password" class="form-control" placeholder="Leave this field blank if you don't want to change the password" name="password" value="" />
					</div>
					<div class="form-group">
						<label>Display Name</label>
						<input type="text" class="form-control" placeholder="Display Name" name="displayname" value="@Model.User.DisplayName" />
					</div>
					<div class="form-group">
						<label>Role</label>
						<select class="form-control" name="role">
							<option value="User">User</option>
							<option value="Administrator">Administrator</option>
						</select>
					</div>
					<hr>
					<div class="form-group">
						<div class="checkbox">
						<label>
							<input type="checkbox" name="enabled" value="true" @(Model.User.Enabled ? "checked" : "") /> <b>This account is activated</b>
						</label>
						</div>
					</div>
					<hr>

					<input type="hidden" name="id" value="@Model.User.Id" />
					<button type="submit" class="btn btn-primary">Save</button>
				</form>
			</div>
        </div>
	</div>
</div>

<!-- Modal delete -->
<div class="modal fade" id="delAccount" tabindex="-1" role="dialog" aria-labelledby="delAccountLabel" aria-hidden="true" data-id="@Model.User.Id">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="trashLabel">
					Delete account
				</h4>
			</div>
			<div class="modal-body">
				<div id="error"></div>
				<p>
					The account &quot;@Model.User.Username&quot; will be permanently deleted and will loose all notes.
				</p>
				<p>
					<b>This action cannot be undone!</b>
				</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-danger" id="delAccountSubmit">Ok, delete permanently!</button>
			</div>
		</div>
	</div>
</div>

@section script {
<script>
    $('.form-control option[value="@Model.User.Role"]').attr("selected", "selected");
</script>
}