@model notes.Areas.Admin.Models.UserEditContainer
@using MongoDB.Bson;
@using notes.Helper;

@{
	ViewBag.Title = $"{(Model.User.Id != ObjectId.Empty ? Model.User.Username : "Create new user")} - ";
}

<div class="row">
	<div class="col-lg-12">
		<div class="pb-2 mt-4 mb-2 border-bottom">
			<div class="btn-toolbar pull-right">
				@if(Model.User.Id != ObjectId.Empty) {
				<div class="btn-group">
					<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delAccount"><i class="fa fa-fw fa-user"></i> Delete</button>
				</div>
				}
			</div>
			<h1>
				<i class="fa fa-fw fa-user"></i> 
				@if(Model.User.Id != ObjectId.Empty) {
				@:Edit user
				} else {
				@:Create new user
				}
			</h1>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
        <div class="row">
			<div class="col-lg-4">

				@if(Html.HasError("error")) {
					<div class="alert alert-danger">
						@Html.ErrorMessage("error")
					</div>
				}

				<form role="form" action="@Url.Action("edit", "account", new { area = "admin" })" method="post" enctype="multipart/form-data" id="account-form" >
					<div class="form-group">
						<label for="username">Username</label>
						<input type="email" class="form-control" placeholder="E-mail" name="username" id="username" value="@Model.User.Username" />
					</div>
					<div class="form-group">
						<label for="password">Password</label>
						<input type="password" class="form-control" placeholder="Password" name="password" id="password" value="" />
						<small id="passwordHelp" class="form-text text-muted">Leave this field blank if you don't want to change the password.</small>
					</div>
					<div class="form-group">
						<label for="displayname">Display Name</label>
						<input type="text" class="form-control" placeholder="Display Name" name="displayname" id="displayname" value="@Model.User.DisplayName" />
					</div>
					<div class="form-group">
						<label for="role">Role</label>
						<select class="form-control" name="role" id="role">
							<option value="User">User</option>
							<option value="Administrator">Administrator</option>
						</select>
					</div>
					<div class="form-group form-check">
						<input class="form-check-input" type="checkbox" name="enabled" id="enabled" value="true" @(Model.User.Enabled ? "checked" : "") />
						<label for="enabled">This account is activated</label>
					</div>
					<div class="form-group">
						<input type="hidden" name="id" value="@Model.User.Id" />
						<button type="submit" class="btn btn-primary">Save</button>
						<button type="button" class="btn btn-primary" data-href="@Url.Action("index", "account", new { area = "admin" })">Cancel</button>
					</div>
				</form>
			</div>
        </div>
	</div>
</div>

<!-- Modal delete -->
<div class="modal fade" id="delAccount" tabindex="-1" role="dialog" aria-labelledby="delAccountLabel" aria-hidden="true" data-id="@Model.User.Id">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="delAccountLabel">
					Delete account
				</h5>
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-sm-12">
						<div id="error"></div>
					</div>
					<div class="col-sm-12">
						The account &quot;@Model.User.Username&quot; will be permanently deleted.
					</div>
					<div class="col-sm-12">
						<b>This action cannot be undone!</b>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-danger" id="delAccountSubmit">Ok, delete permanently!</button>
			</div>
		</div>
	</div>
</div>

@section script {
<script>
    $('.form-control option[value="@Model.User.Role"]').attr("selected", "selected");
</script>
}