@model notes.Areas.Admin.Models.UserListContainer

@{
	ViewBag.Title = "Accounts - ";
}

@functions{
	public string FormatDate(DateTime dt) {
		return String.Format(new System.Globalization.CultureInfo("en-US"), "{0:ddd, dd MMM yyyy}", dt);
	}
}

<div class="row">
	<div class="col-lg-12">
		<div class="pb-2 mt-4 mb-2 border-bottom">
			<div class="btn-toolbar pull-right">
				<div class="btn-group">
					<button type="button" class="btn btn-outline-secondary" data-href="@Url.Action("create", "account", new { area = "admin" })"><i class="fa fa-fw fa-plus"></i> Create</button>
     			</div>
   			</div>
   			<h1>
				<i class="fa fa-fw fa-users"></i> Accounts
			</h1>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th>Username</th>
						<th class="fit">Role</th>
						<th class="fit">Created</th>
						<th class="fit">Status</th>
					</tr>
				</thead>
				<tbody>
					@foreach(var user in Model.Users) {
					<tr>
						<td><a href="@Url.Action("edit", "account", new { area = "admin", id = @user.Id })">@user.Username</a></td>
						<td class="fit">@user.Role</td>
						<td class="fit">@FormatDate(@user.Created)</td>
						<td class="fit">@(@user.Enabled ? "Active" : "Disabled" )</td>
					</tr>
					}
				</tbody>
			</table>
		</div>	
	</div>
</div>