@model Notes.Models.RevisionViewContainer
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@{
	ViewBag.Title = $"Revision - ";
}

<div class="row">
	<div class="col-lg-12">
		<div class="pb-2 mt-4 mb-2 border-bottom">
			@if((await AuthorizationService.AuthorizeAsync(User, "AdministratorOnly")).Succeeded) {
			<div class="btn-toolbar pull-right">
				<div class="btn-group">
					<button class="btn btn-outline-secondary" type="button" data-href="@Url.Action("restore", "revision", new { id = @Model.Revision.Id })"><i class="fa fa-fw fa-history"></i> Restore</button>
				</div>
			</div>
			}
			<h1>
				Revision as of @await Component.InvokeAsync("FormatDate", new { date = Model.Revision.Dt })
			</h1>
		</div>
	</div>
</div>


<div class="row">
	<div class="col-lg-12">
		<p>
			<button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#diffOutput" aria-expanded="false" aria-controls="diffOutput">Show differences to current version.</button>
		</p>
		<div class="collapse" id="diffOutput">
			<pre class="diff hljs"><code>@Model.Diff</code></pre>
		</div>
	</div>
</div>


<div class="row">
	<div class="col-lg-12">
		<div class="pb-2 mt-4 mb-2 border-bottom">
			<h1>
				@Model.Revision.Title
			</h1>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<markdown content="@Model.Revision.Content" />
	</div>
</div>