@model postit.Models.PostitSearchContainer
@using postit.Helper

<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">
			Search
			<small>for @Model.Term, @Model.Offset.Items hits</small>
		</h1>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		
		<div class="list-group">
			@foreach(var postit in Model.Postits) {
			<a href="@Url.Action("view", "postit", new { id = postit.Id, slug = postit.Title.ToSlug() })" class="list-group-item">
				<i class="fa fa-comment fa-file"></i> @postit.Title
				<span class="pull-right text-muted small"><em>@postit.Age</em>
				</span>
			</a>
			}
		</div>

		<nav>
			<ul class="pager">
				@if(Model.Offset.HasPrevious) {
				<li><a href="@Url.Action("search", "home", new { q = Model.Term, ofs = Model.Offset.PreviousOffset })">Newer</a></li>
				}
				@if(Model.Offset.HasNext) {
				<li><a href="@Url.Action("search", "home", new { q = Model.Term, ofs = Model.Offset.NextOffset })">Older</a></li>
				}
			</ul>
		</nav>
	
	</div>
</div>