@using notes.Options
@using Microsoft.Extensions.Options
@inject IOptionsSnapshot<AppSettings> AppSettings

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="@AppSettings.Value.SiteName">
		<meta name="author" content="">
		<meta name="version" content="@await Component.InvokeAsync("Version")">

		<title>@ViewBag.Title@AppSettings.Value.SiteName - Administration</title>

		@await Html.PartialAsync("_PartialStyles")

		@await Html.PartialAsync("_PartialIcons")
	</head>
	<body>
		<!-- Navigation -->
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container">
				<!-- brand -->
				<a class="navbar-brand" href="/">Notes - Administration</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<!-- top menu items -->
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item">
							<a class="nav-link" href="@Url.Action("index", "account", new { area = "admin" })"><i class="fa fa-fw fa-users"></i> Accounts</a>
						</li>
					</ul>
					<ul class="navbar-nav">
						@await Html.PartialAsync("_PartialUser")
					</ul>
				</div>
			</div>
		</nav>

		<div class="container">
			@RenderBody()

			@await Html.PartialAsync("_PartialFooter")
		</div>

		@await Html.PartialAsync("_PartialScripts")

		@RenderSection("script", required: false)
	</body>
</html>
