@model Notes.Areas.Admin.Models.UserEditContainer
@using Notes.Extensions;

@{
	ViewBag.Title = $"{(Model.User.Id != 0 ? Model.User.Username : "Create new user")} - ";
}

<div class="row">
	<div class="col-lg-12">
		<div class="pb-2 mt-4 mb-2 border-bottom">
			<div class="btn-toolbar float-end">
				@if(Model.User.Id != 0) {
				<div class="btn-group">
					<button class="btn btn-danger" type="button" data-bs-toggle="modal" data-bs-target="#delAccount"><i class="fa-solid fa-fw fa-user"></i> Delete</button>
				</div>
				}
			</div>
			<h1>
				<i class="fa-solid fa-fw fa-user"></i> 
				@if(Model.User.Id != 0) {
				@:Edit user
				} else {
				@:Create new user
				}
			</h1>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
        <div class="row">
			<div class="col-lg-4">

				@if(Html.HasError("error")) {
					<div class="alert alert-danger">
						@Html.ErrorMessage("error")
					</div>
				}

				<form action="@Url.Action("edit", "account", new { area = "admin" })" method="post" enctype="multipart/form-data" id="account-form" >
					<div class="mb-3">
						<label class="form-label" for="username">Username</label>
						<input class="form-control" type="email" name="username" id="username" placeholder="E-mail" value="@Model.User.Username" validation-for="username">
					</div>
					<div class="mb-3">
						<label class="form-label" for="password">Password</label>
						<input class="form-control" type="password" name="password" id="password" placeholder="Password" value="" validation-for="password" autocomplete="new-password">
						<div class="form-text" id="passwordHelp">Leave this field blank if you don't want to change the password.</div>
					</div>
					<div class="mb-3">
						<label class="form-label" for="displayname">Display Name</label>
						<input class="form-control" type="text" name="displayname" id="displayname" placeholder="Display Name" value="@Model.User.DisplayName" validation-for="displayname">
					</div>
					<div class="mb-3">
						<label class="form-label" for="role">Role</label>
						<select class="form-select" name="role" id="role" validation-for="role">
							<option value="User">User</option>
							<option value="Administrator">Administrator</option>
						</select>
					</div>
					<div class="mb-3 form-check">
						<input class="form-check-input" type="checkbox" name="enabled" id="enabled" value="true" @(Model.User.Enabled ? "checked" : "")>
						<label class="form-check-label" for="enabled">This account is activated</label>
					</div>
					<div class="mb-3">
						<input type="hidden" name="id" value="@Model.User.Id">
						<button class="btn btn-primary" type="submit">Save</button>
						<button class="btn btn-primary" type="button" data-href="@Url.Action("index", "account", new { area = "admin" })">Cancel</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<!-- Modal delete -->
<div class="modal fade" id="delAccount" tabindex="-1" role="dialog" aria-labelledby="delAccountLabel" aria-hidden="true" data-id="@Model.User.Id">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="delAccountLabel">
					Delete account
				</h5>
				<button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-sm-12">
						<div id="error"></div>
					</div>
					<div class="col-sm-12">
						The account &quot;@Model.User.Username&quot; will be permanently deleted.
					</div>
					<div class="col-sm-12">
						<b>This action cannot be undone!</b>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-outline-secondary" type="button" data-bs-dismiss="modal">Cancel</button>
				<button class="btn btn-danger" type="button" id="delAccountSubmit">Ok, delete permanently!</button>
			</div>
		</div>
	</div>
</div>

@section script {
<script>
	$('.form-control option[value="@Model.User.Role"]').attr("selected", "selected");
</script>
}