@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mt-4">
	<div class="col-lg-12">
		<div class="row">
			<div class="col-lg-3">
				<nav class="nav flex-column">
					<a class="nav-link link-secondary" aria-current="page" href="@Url.Action("settings", "user", new { area = String.Empty })""><i class="fa-solid fa-fw fa-gear"></i> Account</a>
					<a class="nav-link link-secondary" href="@Url.Action("security", "user")""><i class="fa-solid fa-fw fa-shield"></i> Password</a>
				</nav>
			</div>
			<div class="col-lg-4">
				<div class="row">
					<h3><i class="fa-solid fa-fw @ViewBag.SubIcon"></i> @ViewBag.SubTitle</h3>
				</div>
				<div class="row">
					@RenderBody()
				</div>
			</div>
		</div>
	</div>
</div>