@using Notes.Options
@using Microsoft.Extensions.Options
@inject IOptionsSnapshot<AppSettings> AppSettings

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="@AppSettings.Value.SiteName">
		<meta name="author" content="">
		<meta name="version" content="@await Component.InvokeAsync("Version")">

		<title>@ViewBag.Title@AppSettings.Value.SiteName</title>

		@await Html.PartialAsync("_PartialStyles")

		@await Html.PartialAsync("_PartialIcons")
	</head>
	<body>
		<!-- Navigation -->
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container">
				<!-- brand -->
				<a class="navbar-brand" href="/">Notes</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<!-- top menu items -->
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto">
						<li class="nav-item dropdown">
							<a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-fw fa-book"></i> Notebooks</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" href="@Url.RouteUrl("notebooks")">All notebooks</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="@Url.RouteUrl("notebook", new { id = String.Empty} )">Without notebook</a>
								<div class="dropdown-divider"></div>
								@await Component.InvokeAsync("Notebooks")
							</div>
						</li>
						<li class="nav-item dropdown">
							<a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-fw fa-tags"></i> Tags</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" href="@Url.RouteUrl("tags")">All tags</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="@Url.RouteUrl("tag", new { id = String.Empty} )">Without tags</a>
								<div class="dropdown-divider"></div>
								@await Component.InvokeAsync("Tags")
							</div>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="@Url.RouteUrl("create")"><i class="fa fa-fw fa-plus"></i> Create</a>
						</li>
					</ul>
					<ul class="navbar-nav">
						<li class="nav-item">
							<form action="@Url.RouteUrl("search")" method="get" id="search-form">
								<div class="input-group mb-0">
									<input class="form-control border-right-0 border" type="text" name="q" placeholder="Search..." value="@ViewBag.Search" aria-label="Search">
									<button class="btn btn-outline-secondary border-left-0 border" type="submit">
										<i class="fa fa-fw fa-search"></i>
									</button>
								</div>
							</form>
						</li>
						@await Html.PartialAsync("_PartialUser")
					</ul>
				</div>
			</div>
		</nav>

		<div class="container">
			@RenderBody()

			@await Html.PartialAsync("_PartialFooter")
		</div>

		@await Html.PartialAsync("_PartialScripts")

		@RenderSection("script", required: false)
	</body>
</html>
