@model notes.Models.NoteEditContainer
@using notes.Extensions;

@{
	ViewBag.Title = $"{(Model.Note.Id != 0 ? Model.Note.Title : "Create new note")} - ";
}

<div class="row">
	<div class="col-lg-12">
		<div class="pb-2 mt-4 mb-2 border-bottom">
			<h1>
				@if(Model.Note.Id != 0) {
				@:Edit note
				} else {
				@:Create new note
				}
			</h1>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<form role="form" action="@Url.Action("edit", "note")" method="post" enctype="multipart/form-data" id="note-form">
			<div class="row">
				<div class="col-lg-12" id="result">
					@if(Html.HasError("error")) {
						<div class="alert alert-danger">
							@Html.ErrorMessage("error")
						</div>
					}
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="form-group">
						<label for="title">Title</label>
						<input class="form-control" name="title" id="title" placeholder="Title your note" value="@Model.Note.Title" />
					</div>
					<div class="form-group">
						<label for="content">Content</label>
						<div class="editor-toolbar">
							<button type="button" class="btn btn-default" id="preview"><i class="fa fa-fw fa-eye"></i> Preview</button>
							<button type="button" class="btn btn-default" id="help"><i class="fa fa-fw fa-question-circle"></i></button>
						</div>
						<div class="editor-help" id="editor-help">
							@await Html.PartialAsync("_PartialHelp")
						</div>
						<div class="editor-container">
							<div class="editor-source" id="editor-source">
								<textarea class="form-control" name="content" id="content">@Html.Raw(@Model.Note.Content)</textarea>
							</div>
							<div class="editor-preview" id="editor-preview"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6">
					<div class="form-group">
						<label for="notebook">Notebook</label>
						<input class="form-control" name="notebook" id="notebook" placeholder="Notebook" value="@Model.Note.Notebook" />
					</div>
				</div>
				<div class="col-lg-6">
					<div class="form-group">
						<label for="tags">Tags</label>
						<input class="form-control" name="tags" id="tags" placeholder="Separate with spaces" value="@Model.Note.TagsString" />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="form-group">
						<input type="hidden" name="id" id="id" value="@Model.Note.Id" />
						<button type="submit" class="btn btn-primary">Save</button>
						<button type="button" class="btn btn-primary" id="saveContinue">Save and continue</button>
						@if(Model.Note.Id != 0) {
						<button type="button" class="btn btn-primary" data-href="@Url.RouteUrl("view", new { id = Model.Note.Id, slug = Model.Note.Title.ToSlug() })">Cancel</button>
						}
					</div>
				</div>
			</div>
		</form>
	</div>
</div>

@section script {
<script>
	tabOverride
		.tabSize(4)
		.set(document.getElementsByTagName('textarea'));
</script>
}