@model notes.Models.NoteTagContainer
@using notes.Helper

@{
	ViewBag.Title = $"{Model.Tag} - ";
}

<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">
			<i class="fa fa-tag"></i> @Model.Tag
		</h1>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th>Title</th>
						<th style="text-align: right;">Submitted</th>
					</tr>
				</thead>
				<tbody>
					@foreach(var note in Model.Notes) {
					<tr>
						<td><a href="@Url.Action("view", "note", new { id = note.Id, slug = note.Title.ToSlug() })">@note.Title</a></td>
						<td><span class="pull-right text-muted small"><em>@note.Age</em></td>
					</tr>
					}
				</tbody>
			</table>
		</div>

		<nav>
			<ul class="pager">
				@if(Model.Offset.HasPrevious) {
				<li><a href="@Url.Action("tag", "note", new { id = Model.Tag, ofs = Model.Offset.PreviousOffset })">Newer</a></li>
				}
				@if(Model.Offset.HasNext) {
				<li><a href="@Url.Action("tag", "note", new { id = Model.Tag, ofs = Model.Offset.NextOffset })">Older</a></li>
				}
			</ul>
		</nav>
			
	</div>
</div>