@model notes.Models.NoteListContainer
@using notes.Helper

@{
	ViewBag.Title = "Trash - ";
}

<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">
			<i class="fa fa-fw fa-trash"></i> Trash
		</h1>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<form role="form" action="@Url.Action("delete", "note")" method="post" enctype="multipart/form-data" id="trash-form" >
			<div class="table-responsive">
				<table class="table">
					<thead>
						<tr>
							<th style="width: 30px;"><input type="checkbox" id="selectAll" /></th>
							<th>Title</th>
							<th style="text-align: right; width: 150px;"><i class="fa fa-clock-o"></i> Submitted</th>
						</tr>
					</thead>
					<tbody>
						@foreach(var note in Model.Notes) {
						<tr>
							<td><input type="checkbox" name="id" value="@note.Id" /></td>
							<td><a href="@Url.RouteUrl("view", new { id = note.Title.ToSlug(note.Id) })">@note.Title</a></td>
							<td><span class="pull-right text-muted small"><em>@note.Age</em></span></td>
						</tr>
						}
					</tbody>
				</table>
			</div>
			<button type="submit" class="btn btn-primary"><i class="fa fa-check-square-o"></i> Delete</button>
		</form>
	</div>
	<div class="col-lg-12">
		<nav>
			<ul class="pager">
				@if(Model.Pager.HasNext) {
				<li><a href="@Url.RouteUrl("trash", new { after = Model.Pager.NextPage })" rel="nofollow next">Older</a></li>
				}
			</ul>
		</nav>
	</div>
</div>
