@model notes.Models.NoteViewContainer

<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">
			@Model.Note.Title
			<small>@Model.Note.Age</small>
		</h1>
		<ol class="breadcrumb">
			<li><i class="fa fa-home"></i> <a href="@Url.Action("index", "home")">Home</a></li>
			@if(!String.IsNullOrEmpty(@Model.Note.Notebook)) {
			<li><i class="fa fa-book"></i> <a href="@Url.Action("view", "notebook", new { id = Model.Note.Notebook })">@Model.Note.Notebook</a></li>
			}
		</ol>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<p>
			<button type="button" class="btn btn-primary" data-href="@Url.Action("edit", "note", new { id = Model.Note.Id })"><i class="fa fa-pencil"></i> Edit</button>
			@if(Model.Note.Trash) {
			<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#trash"><i class="fa fa-undo"></i> Restore</button>
			} else {
			<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#trash"><i class="fa fa-trash-o"></i> Delete</button>
			@*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#share"><i class="fa fa-share-alt"></i></button>*@
			<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#notebook"><i class="fa fa-book"></i> Notebook</button>
			<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#tags"><i class="fa fa-tags"></i> Tags</button>
			}
		</p>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		@*<div class="panel panel-default">
            <div class="panel-body">*@
				<!-- Content -->
		<markdown>@Html.Raw(Model.Note.Content)</markdown>
			@*</div>
		</div>*@
	</div>
</div>

<!-- Modal delete -->
<div class="modal fade" id="trash" tabindex="-1" role="dialog" aria-labelledby="trashLabel" aria-hidden="true" data-id="@Model.Note.Id">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="trashLabel">
					@if(Model.Note.Trash) {
					@:Restore note
					} else {
					@:Delete note
					}
				</h4>
			</div>
			<div class="modal-body">
				@if(Model.Note.Trash) {
				@:Restore note &quot;@Model.Note.Title&quot;?
				} else {
				@:Delete note &quot;@Model.Note.Title&quot;?
				}
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-primary" id="trashSubmit">Ok</button>
			</div>
		</div>
	</div>
</div>

<!-- Model share -->
<div class="modal fade" id="share" tabindex="-1" role="dialog" aria-labelledby="shareLabel" aria-hidden="true" data-id="@Model.Note.Id">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="shareLabel">Share note</h4>
			</div>
			<div class="modal-body">
				Share &quot;@Model.Note.Title&quot;?
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-primary" id="shareSubmit">Ok</button>
			</div>
		</div>
	</div>
</div>

<!-- Model notebook -->
<div class="modal fade" id="notebook" tabindex="-1" role="dialog" aria-labelledby="notebookLabel" aria-hidden="true" data-id="@Model.Note.Id">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="notebookLabel">Notebook</h4>
			</div>
			<div class="modal-body">
				<div class="form-group input-group">
					<input class="form-control" name="notebook" id="notebookValue" value="@Model.Note.Notebook" />
					<span class="input-group-btn">
						<button class="btn btn-default" type="button" id="notebookDelete">
							<i class="fa fa-times"></i>
						</button>
					</span>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-primary" id="notebookSubmit">Ok</button>
			</div>
		</div>
	</div>
</div>

<!-- Model tags -->
<div class="modal fade" id="tags" tabindex="-1" role="dialog" aria-labelledby="tagsLabel" aria-hidden="true" data-id="@Model.Note.Id">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="tagsLabel">Tags</h4>
			</div>
			<div class="modal-body">
				<div class="form-group input-group">
					<input class="form-control" type="text" name="tags" id="tagsValue" value="@Model.Note.Tags" />
					<span class="input-group-btn">
						<button class="btn btn-default" type="button" id="tagsDelete">
							<i class="fa fa-times"></i>
						</button>
					</span>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-primary" id="tagsSubmit">Ok</button>
			</div>
		</div>
	</div>
</div>

@section script {
<script>
	$('[data-toggle=popover]').popover();

	$('[data-href]').click(function() {
		var href = $(this).data('href');
		location.href = href;
	});

	$('#trashSubmit').click(function() {
		var id = $('#trash').data('id');
		$.ajax({
			type: "POST",
			url: '/note/trash/' + id,
			statusCode: {
				403: function () {
					location.href = '/account/login?ReturnUrl=' + encodeURIComponent(location.pathname);
				},
				404: function () {
					alert('Resource not found.');
				}
			},
			success: function (data) {
				if (data.Success) {
					location.href = '/';
				}
			}
		});
	});

	$('#shareSubmit').click(function() {

	});

	$('#notebookDelete').click(function() {
		$('#notebookValue').val('')
	});

	$('#notebookSubmit').click(function() {
		var id = $('#notebook').data('id');

		var d = {
			id: id,
			notebook: $('#notebookValue').val()
		};

		$.ajax({
			type: "POST",
			url: '/note/notebook/',
			dataType: 'json',
			data: d,
			statusCode: {
				403: function () {
					location.href = '/account/login?ReturnUrl=' + encodeURIComponent(location.pathname);
				},
				404: function () {
					alert('Resource not found.');
				}
			},
			success: function (data) {
				if (data.Success) {
					location.reload();
				}
			}
		});
	});

	$('#tagsDelete').click(function() {
		$('#tagsValue').val('')
	});

	$('#tagsSubmit').click(function() {
		var id = $('#tags').data('id');

		var d = {
			id: id,
			tags: $('#tagsValue').val()
		};

		$.ajax({
			type: "POST",
			url: '/note/tags/',
			dataType: 'json',
			data: d,
			statusCode: {
				403: function () {
					location.href = '/account/login?ReturnUrl=' + encodeURIComponent(location.pathname);
				},
				404: function () {
					alert('Resource not found.');
				}
			},
			success: function (data) {
				if (data.Success) {
					location.reload();
				}
			}
		});
	});
</script>	
}
